#bootstrap-overrides ul {
    padding-left: 30px;
}

#nav-links {
    color: black !important;
}

#nav-override { 
    background-color:rgb(102, 198, 211) !important;
}

body {
    margin: 0;
    text-align: center;
    background-color: rgb(102, 198, 211) !important;
}

.hiimjenna {
    padding-top: 20px;
}

.contact-info {
    padding-top: 20px;
}

.email {
    padding-top: 70px;
}

.abouthr1 {
    width: 15%;
    border-top: 1px solid black;
}

.abouthr2 {
    width: 13%;
    border-top: 1px solid black;
}

.abouthr3 {
    width: 7%;
    border-top: 1px solid black;
}

.abouthr4 {
    width: 27%;
    border-top: 1px solid black;
}

.abouthr5 {
    width: 5%;
    border-top: 1px solid black;
}

.abouthr6 {
    width: 11%;
    border-top: 1px solid black;
}

.abouthr7 {
    width:16%;
    border-top: 1px solid black;
}